@charset "UTF-8";

.box{
  margin: auto;
  display: block;
}

.size-box{
  width: 400px;
  height: 400px;
  background-color: #ff0000;
  text-align: center;
}

@media screen(max-width:960px) {
  .size-box{
    width:200px;
    height:200px;
  }
}

.color-box{
  background-color: ;
}
